<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
  <Product Id="80918527-B79C-4822-9B83-2BE23E629ED8" Name="TytanNET - VisualStudio 2005 AddIn" Language="1033" Version="0.13.0.0" Manufacturer="Pretorianie 2008">
    <Package Id="D979443E-883F-4032-A2AC-A3FCB16A7B46" Description="TytanNET is a VisualStudio AddIn that enables new refactorings and shared tools for hackers." Comments="TytanNET - VisualStudio AddIn." InstallerVersion="200" Compressed="yes" />

    <Property Id="AddInFileName" Value="TytanNET.AddIn" />
    <Property Id="AddInAssemblyName" Value="Tytan.AddIn.dll" />
    <Property Id="AddInGeneratorsName" Value="Tytan.Generators.dll" />
    <Property Id="REGASMPATH" Hidden="yes">
      <DirectorySearch Path="[WindowsFolder]Microsoft.NET" Id="FindRegAsm" Depth="10">
        <FileSearch Name="regasm.exe" MinVersion="2.0.0.0" />
      </DirectorySearch>
    </Property>

    <Media Id="1" Cabinet="Project.cab" EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLLOCATION" Name="TytanNET" LongName="TytanNET 2005">

          <!-- core libraries -->
          <Component Id="CoreProductComponent" Guid="6A42D5A7-749F-428d-BB77-8F3009692904">
            <File Id="TytanCoreDLL" Source="..\..\..\output\AddIns\TytanNET\Tytan.Core.dll" Vital="yes" DiskId="1"
                   Name="DllCore" LongName="Tytan.Core.dll" />
            <File Id="TytanActionsDLL" Source="..\..\..\output\AddIns\TytanNET\Tytan.Actions.dll" Vital="yes" DiskId="1"
                   Name="DllAct" LongName="Tytan.Actions.dll"/>
            <File Id="CoreLicence" Source="License.rtf" Vital="yes" DiskId="1"
                  Name="CoreLic" LongName="gpl-2.0.txt" />
          </Component>
          <Directory Id="Locales" Name="en-US">
            <Component Id="CoreLocaleProductComponent" Guid="583D8C0C-5AD3-427d-9FB0-434340976CEB">
              <File Id="TytanCoreLocaleDLL" Source="..\..\..\output\AddIns\TytanNET\en-US\Tytan.AddIn.resources.dll" Vital="yes" DiskId="1"
                  Name="DllCoreL" LongName="Tytan.AddIn.resources.dll" />
            </Component>
          </Directory>
          
          <!-- visual studio integration -->
          <Component Id="CoreVSIntegration" Guid="5EF1CB56-2999-4219-BB36-DA6241AA80C5">
            <File Id="TytanAddInDLL" Source="..\..\..\output\AddIns\TytanNET\Tytan.AddIn.dll" Vital="yes" DiskId="1"
                  Name="DllAddIn" LongName="Tytan.AddIn.dll" />

            <RemoveFile Id="AddInFile" On="uninstall" Property="AddInsInstallLocation" Name="TytanNET.xxx" LongName="TytanNET.AddIn" />
            <!-- create .addin file at runtime using custom action 'CreateAddInFile' -->
          </Component>
          
          <!-- code generators -->
          <Component Id="CodeGenerators" Guid="C922254A-97F2-4ccb-9271-414F983D02BF">
            <File Id="TytanGeneratorsDLL" Source="..\..\..\output\AddIns\TytanNET\Tytan.Generators.dll" Vital="yes" DiskId="1"
                   Name="DllCodeG" LongName="Tytan.Generators.dll"/>
          </Component>

          <!-- stand-alone editors -->
          <Component Id="StandAloneExecutable" Guid="186CA44F-1C9C-4607-9043-23DB1EED5678">
            <File Id="VisualizerRegistryEXE" Source="..\..\..\output\VisualEditors\VisualEditor.Registry.exe" Vital="yes" DiskId="1"
                  Name="VisReg" LongName="VisualEditor.Registry.exe">
              <Shortcut Id="StartMenuVisualizerRegistry"
                          Directory="ProgramMenuDir" Name="VisRegS" LongName="Visual Registry Editor" WorkingDirectory="INSTALLDIR" Icon="VisReg.exe" IconIndex="0" />
            </File>

            <File Id="VisualizerDebugEXE" Source="..\..\..\output\VisualEditors\VisualEditor.DebugView.exe" Vital="yes" DiskId="1"
                  Name="VisDbg" LongName="VisualEditor.DebugView.exe">
              <Shortcut Id="StartMenuVisualizerDebug"
                          Directory="ProgramMenuDir" Name="VisDbgS" LongName="Visual Debug View" WorkingDirectory="INSTALLDIR" Icon="VisDbg.exe" IconIndex="0" />
            </File>

            <File Id="VisualizerNativeImageEXE" Source="..\..\..\output\VisualEditors\VisualEditor.NativeImage.exe" Vital="yes" DiskId="1"
                 Name="VisNatI" LongName="VisualEditor.NativeImage.exe">
              <Shortcut Id="StartMenuVisualizerNativeImage"
                          Directory="ProgramMenuDir" Name="VisNatIS" LongName="Visual NativeImage Editor" WorkingDirectory="INSTALLDIR" Icon="VisNatI.exe" IconIndex="0" />
            </File>
          </Component>

        </Directory>
      </Directory>

      <Directory Id="PersonalFolder">
        <Directory Id="VisInstallation" Name="VS2005" LongName="Visual Studio 2005">
          <Directory Id="VISINSTALLLOCATION" Name="Visual" LongName="Visualizers">

            <!-- visualizers -->
            <Component Id="CodeVisualizers" Guid="71D00330-099C-44cc-B91A-583FCDF0B6D7">
            <File Id="TytanVisualizersDLL" Source="..\..\..\output\Visualizers\Tytan.Visualizers.dll" Vital="yes" DiskId="1"
                   Name="DllVis" LongName="Tytan.Visualizers.dll" />
            </Component>
          </Directory>

          <!-- place for *.AddIn files -->
          <Directory Id="AddInsInstallLocation" Name="AddIns">
          </Directory>
        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder" Name="PMenu" LongName="Programs">
        <Directory Id="ProgramMenuDir" Name="TytanNET" LongName="TytanNET 2005"/>
      </Directory>

    </Directory>

    <!-- feature tree for add-in DLL and stand-alone EXE -->
    <Feature Id="MasterProgram" Title="TytanNET 2005 Components" Level="1" InstallDefault="local"
             Absent="allow" AllowAdvertise="no" Display="expand" ConfigurableDirectory="INSTALLLOCATION">
      
      <Feature Id="CoreFeature" Title="Core Libraries" Level="1" Absent="disallow" AllowAdvertise="no">
        <ComponentRef Id="CoreProductComponent" />
        <ComponentRef Id="CoreLocaleProductComponent" />
      </Feature>

      <Feature Id="CoreIntegrationFeature" Title="Visual Studio 2005 Integration" Level="1" Absent="allow" AllowAdvertise="no">
        <ComponentRef Id="CoreVSIntegration" />
      </Feature>

      <Feature Id="CodeGeneratorsFeature" Title="Code Generators" Level="1" Absent="allow" AllowAdvertise="no">
        <ComponentRef Id="CodeGenerators" />
      </Feature>
      
      <Feature Id="StandAloneFeature" Title="Stand-alone editors" Level="1" Absent="allow" AllowAdvertise="no">
        <ComponentRef Id="StandAloneExecutable" />
      </Feature>
      
    </Feature>

    <!-- feature tree for visualizers -->
    <Feature Id="MasterVisualizers" Title="TytanNET 2005 Visualizers" Level="1" InstallDefault="local"
             Absent="allow" AllowAdvertise="no" Display="expand" ConfigurableDirectory="VISINSTALLLOCATION">
      <Feature Id="CoreVisualizerFeature" Title="Core Visualizers" Level="1" Absent="allow" AllowAdvertise="no">
        <ComponentRef Id="CodeVisualizers" />
      </Feature>
    </Feature>
    
    <!-- define common UI forms -->
    <UIRef Id="WixUI_FeatureTree" />
    <UIRef Id="WixUI_ErrorProgressText" />

    <!-- custom actions -->
    <CustomAction Id="CreateAddInFile" BinaryKey="TytanWixActions" DllEntry="CreateAddInFile" Win64="no"/>
    <CustomAction Id="RegisterGenerators" BinaryKey="TytanWixActions" DllEntry="RegisterGeneratorAssembly" Win64="no" />
    <CustomAction Id="UnregisterGenerators" BinaryKey="TytanWixActions" DllEntry="RegisterGeneratorAssembly" Win64="no" />

    <!--<CustomAction Id="CreateAddInScript" Script="jscript">
      <![CDATA[
        set fso = CreateObject("Scripting.FileSystemObject");
        path = Session.Property("INSTALLDIR")

        
    var file = fso.CreateTextFile(path, true, true);
        file.WriteLine("This is a test.");
        file.Close();
      ]]>
    </CustomAction>-->

    <InstallExecuteSequence>
      <!--Custom Action="CreateAddInScript" After="CostFinalize" >NOT Installed</Custom-->
      <Custom Action="CreateAddInFile" After="CostFinalize" >NOT Installed</Custom>
      <Custom Action="RegisterGenerators" After="InstallFinalize">NOT Installed</Custom>
      <Custom Action="UnregisterGenerators" Before="RemoveFiles">Installed</Custom>
    </InstallExecuteSequence>

    <Binary Id="TytanWixActions" SourceFile="..\..\..\output\Installer\TytanWixActions.dll" />

    <!-- graphical resources -->
    <Icon Id="VisReg.exe" SourceFile="..\..\..\output\VisualEditors\VisualEditor.Registry.exe" />
    <Icon Id="VisDbg.exe" SourceFile="..\..\..\output\VisualEditors\VisualEditor.DebugView.exe" />
    <Icon Id="VisNatI.exe" SourceFile="..\..\..\output\VisualEditors\VisualEditor.NativeImage.exe" />
    
  </Product>
</Wix>
