<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">

    <!-- most of the tricks used here in building of the installer has been gained from:
                http://blogs.technet.com/alexshev/pages/from-msi-to-wix.aspx  -->

    <?include Properties.wxi ?>

    <Product Id="$(var.DynProductCode)"
             UpgradeCode="$(var.DynUpgradeCode)"
             Name="$(var.DynProductName)"
             Language="$(var.DynProductLanguage)"
             Version="$(var.DynProductVersion)"
             Manufacturer="$(var.DynManufacturerName)">
        <Package Id="$(var.DynPackageCode)"
                 InstallerVersion="200"
                 Compressed="yes"
                 AdminImage="yes"
                 ShortNames="no"
                 Description="TytanNET is a VisualStudio AddIn that enables new refactorings and shared tools for hackers." />

        <Media Id="1" Cabinet="TytanNetProject.cab" EmbedCab="yes" />
        
        <!-- Control Panel specific items -->
        <?include ControlPanel.wxi ?>
        <?include VsNetInstall.wxi ?>
        <?include Upgrade.wxi ?>

        <!-- Installation Media Files and Directory Structure-->

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="INSTALLLOCATION" Name="$(var.DynMainFolderName)">

                    <!-- core libraries -->
                    <Component Id="CoreProductComponent" Guid="6A42D5A7-749F-428d-BB77-8F3009692904">
                        <File Id="TytanCoreDLL" Source="..\..\..\output\AddIns\TytanNET\Tytan.Core.dll" Name="Tytan.Core.dll" KeyPath="yes" />
                        <File Id="TytanActionsDLL" Source="..\..\..\output\AddIns\TytanNET\Tytan.Actions.dll" Name="Tytan.Actions.dll" />
                        <File Id="TytanDatabaseDLL" Source="..\..\..\output\AddIns\TytanNET\Tytan.Database.dll" Name="Tytan.Database.dll" />
                        <File Id="CoreLicenceTXT" Source="Resources\License.rtf" Name="gpl-2.0.rtf" />
                        <File Id="CoreReadme" Source="..\..\..\output\AddIns\TytanNET\ReleaseNotes.txt" Name="ReleaseNotes.txt">
                            <Shortcut Id="LinkToReadme" Directory="ProgramMenuDir" Name="Release Notes" WorkingDirectory="INSTALLDIR" />
                        </File>
                        <File Id="CoreAddInDLL" Source="..\..\..\output\AddIns\TytanNET\Tytan.AddIn.dll" Name="Tytan.AddIn.dll" />
                        <File Id="CoreAddInFileVS80" Source="..\..\..\output\AddIns\TytanNET\TytanNET.VS80.AddIn" Name="TytanNET.VS2005.AddIn" />
                        <File Id="CoreAddInFileVS90" Source="..\..\..\output\AddIns\TytanNET\TytanNET.VS90.AddIn" Name="TytanNET.VS2008.AddIn" />
                        <util:XmlFile Id="AddIn2005_00" File="[INSTALLLOCATION]TytanNET.VS2005.AddIn" Action="setValue" ElementPath="//Extensibility/Addin/Assembly" Value="[INSTALLLOCATION]Tytan.AddIn.dll" Sequence="1" />
                        <util:XmlFile Id="AddIn2008_00" File="[INSTALLLOCATION]TytanNET.VS2008.AddIn" Action="setValue" ElementPath="//Extensibility/Addin/Assembly" Value="[INSTALLLOCATION]Tytan.AddIn.dll" Sequence="1" />
                    </Component>
                    <Directory Id="LocalesUS" Name="en-US">
                        <Component Id="CoreLocaleProductComponentUS" Guid="583D8C0C-5AD3-427d-9FB0-434340976CEB">
                            <File Id="TytanCoreLocaleDLL_US" Source="..\..\..\output\AddIns\TytanNET\en-US\Tytan.AddIn.resources.dll" Name="Tytan.AddIn.resources.dll" />
                            <RemoveFolder Id="LocalesUS" On="uninstall"/>
                        </Component>
                    </Directory>
                    <Directory Id="LocalesFR" Name="fr-FR">
                        <Component Id="CoreLocaleProductComponentFR" Guid="DEFC2316-CA1E-449a-A41A-423C2C8F04D1">
                            <File Id="TytanCoreLocaleDLL_FR" Source="..\..\..\output\AddIns\TytanNET\fr-FR\Tytan.AddIn.resources.dll" Name="Tytan.AddIn.resources.dll" />
                            <RemoveFolder Id="LocalesFR" On="uninstall"/>
                        </Component>
                    </Directory>
                    <Directory Id="LocalesDE" Name="de-DE">
                        <Component Id="CoreLocaleProductComponentDE" Guid="145A007F-6E40-401b-9A44-E1C2EEE29143">
                            <File Id="TytanCoreLocaleDLL_DE" Source="..\..\..\output\AddIns\TytanNET\de-DE\Tytan.AddIn.resources.dll" Name="Tytan.AddIn.resources.dll" />
                            <RemoveFolder Id="LocalesDE" On="uninstall"/>
                        </Component>
                    </Directory>
                    <Directory Id="LocalesIT" Name="it-IT">
                        <Component Id="CoreLocaleProductComponentIT" Guid="CD6808C4-2B28-4068-A2A1-88B6EEDB5884">
                            <File Id="TytanCoreLocaleDLL_IT" Source="..\..\..\output\AddIns\TytanNET\it-IT\Tytan.AddIn.resources.dll" Name="Tytan.AddIn.resources.dll" />
                            <RemoveFolder Id="LocalesIT" On="uninstall"/>
                        </Component>
                    </Directory>
                    <Directory Id="LocalesES" Name="es-ES">
                        <Component Id="CoreLocaleProductComponentES" Guid="C36AB6AB-939E-4be4-A14B-555BC5E8CC75">
                            <File Id="TytanCoreLocaleDLL_ES" Source="..\..\..\output\AddIns\TytanNET\es-ES\Tytan.AddIn.resources.dll" Name="Tytan.AddIn.resources.dll" />
                            <RemoveFolder Id="LocalesES" On="uninstall"/>
                        </Component>
                    </Directory>

                    <!-- code generators -->
                    <Component Id="CodeGenerators" Guid="C922254A-97F2-4ccb-9271-414F983D02BF">
                        <File Id="TytanGeneratorsDLL" Source="..\..\..\output\AddIns\TytanNET\Tytan.Generators.dll" Name="Tytan.Generators.dll"/>
                    </Component>

                    <!-- stand-alone editors -->
                    <Component Id="StandAloneExecutable" Guid="186CA44F-1C9C-4607-9043-23DB1EED5678">
                        <File Id="VisualizerRegistryEXE" Source="..\..\..\output\VisualEditors\VisualEditor.Registry.exe" Name="VisualEditor.Registry.exe">
                            <Shortcut Id="StartMenuVisualizerRegistry"
                                        Directory="ProgramMenuDir" Name="Visual Registry Editor" WorkingDirectory="INSTALLDIR" />
                        </File>

                        <File Id="VisualizerDebugEXE" Source="..\..\..\output\VisualEditors\VisualEditor.DebugView.exe" Name="VisualEditor.DebugView.exe">
                            <Shortcut Id="StartMenuVisualizerDebug"
                                        Directory="ProgramMenuDir" Name="Visual Debug View" WorkingDirectory="INSTALLDIR" />
                        </File>

                        <File Id="VisualizerEnvironmentEXE" Source="..\..\..\output\VisualEditors\VisualEditor.Environment.exe" Name="VisualEditor.EnvironmentView.exe">
                            <Shortcut Id="StartMenuVisualizerEnvironment"
                                        Directory="ProgramMenuDir" Name="Visual Environment View" WorkingDirectory="INSTALLDIR" />
                        </File>

                        <!--<File Id="VisualizerNativeImageEXE" Source="..\..\..\output\VisualEditors\VisualEditor.NativeImage.exe"
                             Name="VisualEditor.NativeImage.exe">
                            <Shortcut Id="StartMenuVisualizerNativeImage"
                                        Directory="ProgramMenuDir" Name="Visual NativeImage Editor" WorkingDirectory="INSTALLDIR" />
                        </File>-->
                    </Component>

                </Directory>
            </Directory>

            <Directory Id="VS2005_ROOT_FOLDER">
                <Directory Id="VS2005_Common7" Name="Common7">
                    <Directory Id="VS2005_Packages" Name="Packages">
                        <Directory Id="VS2005_Debugger" Name="Debugger">
                            <Directory Id="VIS2005INSTALLLOCATION" Name="Visualizers">
                                <!-- visualizers -->
                                <Component Id="CoreVS2005Visualizers" Guid="71D00330-099C-44cc-B91A-583FCDF0B6D7" KeyPath="yes">
                                    <File Id="TytanVS2005VisualizersDLL" Source="..\..\..\output\Visualizers\Tytan.Visualizers.dll" Name="Tytan.Visualizers.dll" />
                                </Component>
                            </Directory>
                        </Directory>
                    </Directory>
                </Directory>
            </Directory>


            <Directory Id="VS90_ROOT_FOLDER">
                <Directory Id="VS2008_Common7" Name="Common7">
                    <Directory Id="VS2008_Packages" Name="Packages">
                        <Directory Id="VS2008_Debugger" Name="Debugger">
                            <Directory Id="VIS2008INSTALLLOCATION" Name="Visualizers">
                                <!-- visualizers -->
                                <Component Id="CoreVS2008Visualizers" Guid="F6F224BC-74EB-451b-A487-6AE796D0722C" KeyPath="yes">
                                    <File Id="TytanVS2008VisualizersDLL" Source="..\..\..\output\Visualizers\Tytan.Visualizers.dll" Name="Tytan.Visualizers.dll" />
                                </Component>
                            </Directory>
                        </Directory>
                    </Directory>
                </Directory>
            </Directory>

            <Directory Id="PersonalFolder">
                <Directory Id="Vis2005Installation" Name="Visual Studio 2005">

                    <!-- place for *.AddIn files -->
                    <Directory Id="AddIns2005InstallLocation" Name="AddIns">
                        <Component Id="CoreVS2005Integration"  Guid="B4288456-BFF6-4F2F-9140-B74BDAC0FD3D" KeyPath="yes">
                            <File Id="AddInFile2005_00" Source="..\..\..\output\AddIns\TytanNET\TytanNET.VS80.AddIn" Name="$(var.DynTytanAddInFileName)" Vital ="yes" ReadOnly="no" />
                            <util:XmlFile Id="AddIn2005_01" File="[AddIns2005InstallLocation]$(var.DynTytanAddInFileName)" Action="setValue" ElementPath="//Extensibility/Addin/Assembly" Value="[INSTALLLOCATION]Tytan.AddIn.dll" Sequence="1" />
                            <util:XmlFile Id="AddIn2005_02" File="[AddIns2005InstallLocation]$(var.DynTytanAddInFileName)" Action="setValue" ElementPath="//Extensibility/ToolsOptionsPage/Category[\[]@Name='TytanNET'[\]]/SubCategory[\[]@Name='General'[\]]/Assembly" Value="[INSTALLLOCATION]Tytan.Actions.dll" Sequence="2" />
                            <util:XmlFile Id="AddIn2005_03" File="[AddIns2005InstallLocation]$(var.DynTytanAddInFileName)" Action="setValue" ElementPath="//Extensibility/ToolsOptionsPage/Category[\[]@Name='TytanNET'[\]]/SubCategory[\[]@Name='References'[\]]/Assembly" Value="[INSTALLLOCATION]Tytan.Actions.dll" Sequence="3" />
                            <RemoveFile Id="RemoveAddInFile2005" Name="AddInFile2005_00" On="uninstall" />
                            <RegistryValue Id="CoreVS2005IntegrationRegistry" Root="HKCU" Key="Software\Pretorianie\VisualStudio.8" Name="ShowTytanToolbar" Value="1" Type="integer" Action="write" />
                        </Component>
                    </Directory>

                </Directory>

                <Directory Id="Vis2008Installation" Name="Visual Studio 2008">

                    <!-- place for *.AddIn files -->
                    <Directory Id="AddIns2008InstallLocation" Name="AddIns">
                        <Component Id="CoreVS2008Integration" Guid="89B16D47-5608-42CB-BF06-11E06A5F3CC0">
                            <File Id="AddInFile2008_00" Source="..\..\..\output\AddIns\TytanNET\TytanNET.VS90.AddIn" Name="$(var.DynTytanAddInFileName)" KeyPath="yes" Vital="yes" ReadOnly="no" />
                            <util:XmlFile Id="AddIn2008_01" File="[AddIns2008InstallLocation]$(var.DynTytanAddInFileName)" Action="setValue" ElementPath="//Extensibility/Addin/Assembly" Value="[INSTALLLOCATION]Tytan.AddIn.dll" />
                            <util:XmlFile Id="AddIn2008_02" File="[AddIns2008InstallLocation]$(var.DynTytanAddInFileName)" Action="setValue" ElementPath="//Extensibility/ToolsOptionsPage/Category[\[]@Name='TytanNET'[\]]/SubCategory[\[]@Name='General'[\]]/Assembly" Value="[INSTALLLOCATION]Tytan.Actions.dll" />
                            <util:XmlFile Id="AddIn2008_03" File="[AddIns2008InstallLocation]$(var.DynTytanAddInFileName)" Action="setValue" ElementPath="//Extensibility/ToolsOptionsPage/Category[\[]@Name='TytanNET'[\]]/SubCategory[\[]@Name='References'[\]]/Assembly" Value="[INSTALLLOCATION]Tytan.Actions.dll" />
                            <RemoveFile Id="RemoveAddInFile2008" Name="AddInFile2008_00" On="uninstall" />
                            <RegistryValue Id="CoreVS2008IntegrationRegistry" Root="HKCU" Key="Software\Pretorianie\VisualStudio.9" Name="ShowTytanToolbar" Value="1" Type="integer" Action="write" />
                        </Component>
                    </Directory>

                </Directory>

            </Directory>

            <Directory Id="ProgramMenuFolder">
                <Directory Id="ProgramMenuDir" Name="TytanNET for Visual Studio" />
            </Directory>

        </Directory>

        <!-- feature tree for add-in DLL and stand-alone EXE -->
        <Feature Id="MasterProgram" Title="$(var.DynFeaturesCore)" Level="1" InstallDefault="local"
                 Absent="allow" AllowAdvertise="no" Display="expand" ConfigurableDirectory="INSTALLLOCATION">

            <Feature Id="CoreFeature" Title="Core Libraries" Level="1" Absent="disallow" AllowAdvertise="no">
                <ComponentRef Id="CoreProductComponent" />
                <ComponentRef Id="CoreLocaleProductComponentUS" />
            </Feature>

            <Feature Id="CoreLanguages" Title="Localization" Level="1" Absent="allow" AllowAdvertise="no"
                     Description="Adds support for custom languages supported by Visual Studio: French, German, Italian, Spanish.">
                <ComponentRef Id="CoreLocaleProductComponentFR" />
                <ComponentRef Id="CoreLocaleProductComponentDE" />
                <ComponentRef Id="CoreLocaleProductComponentIT" />
                <ComponentRef Id="CoreLocaleProductComponentES" />
            </Feature>

            <Feature Id="Core2005IntegrationFeature" Title="Visual Studio 2005 Integration" Level="1" Absent="allow" AllowAdvertise="no">
                <Condition Level="0">Not VS2005DEVENV</Condition>
                <ComponentRef Id="CoreVS2005Integration" />
                <ComponentRef Id="CoreVS2005Visualizers" />
            </Feature>

            <Feature Id="Core2008IntegrationFeature" Title="Visual Studio 2008 Integration" Level="1" Absent="allow" AllowAdvertise="no">
                <Condition Level="0">Not VS90DEVENV</Condition>
                <ComponentRef Id="CoreVS2008Integration" />
                <ComponentRef Id="CoreVS2008Visualizers" />
            </Feature>

            <Feature Id="CodeGeneratorsFeature" Title="Visual Studio Code Generators" Level="1" Absent="allow" AllowAdvertise="no">
                <ComponentRef Id="CodeGenerators" />
            </Feature>

            <Feature Id="StandAloneFeature" Title="Stand-alone editors" Level="1" Absent="allow" AllowAdvertise="no">
                <ComponentRef Id="StandAloneExecutable" />
            </Feature>

        </Feature>


        <!-- custom actions -->
        <CustomAction Id="RegisterGenerators" Property="REGASMPATH" ExeCommand='/codebase "[INSTALLLOCATION]Tytan.Generators.dll /silent /nologo"' Return="asyncWait" />
        <CustomAction Id="UnregisterGenerators" Property="REGASMPATH" ExeCommand='/unregister "[INSTALLLOCATION]Tytan.Generators.dll /silent /nologo"' Return="asyncWait" />
        <CustomAction Id="ResetVS2005" Property="VS2005DEVENV" ExeCommand="/resetaddin Pretorianie.Tytan.Connect" Return="asyncNoWait" />
        <CustomAction Id="ResetVS2008" Property="VS90DEVENV" ExeCommand="/resetaddin Pretorianie.Tytan.Connect" Return="asyncNoWait" />

        <!-- inject Custom Actions during Installation sequences -->
        <InstallExecuteSequence>
            <Custom Action="RegisterGenerators" After="InstallFinalize"><![CDATA[&CodeGeneratorsFeature=3]]></Custom>
            <Custom Action="UnregisterGenerators" Before="RemoveFiles"><![CDATA[Installed And &CodeGeneratorsFeature=2]]></Custom>
            <!--<Custom Action="ResetVS2005" After="RemoveExistingProducts"><![CDATA[VS2005DEVENV And &Core2005IntegrationFeature=3]]></Custom>
            <Custom Action="ResetVS2008" After="RemoveExistingProducts"><![CDATA[VS90DEVENV And &Core2008IntegrationFeature=3]]></Custom>-->
        </InstallExecuteSequence>

        <UI>
            <ProgressText Action="RegisterGenerators" Template="[1]">Registering code generators.</ProgressText>
            <ProgressText Action="UnregisterGenerators" Template="[1]">Unregistering code generators.</ProgressText>
            <ProgressText Action="ResetVS2005" Template="[1]">Reseting icons of TytanNET inside Visual Studio 2005.</ProgressText>
            <ProgressText Action="ResetVS2008" Template="[1]">Reseting icons of TytanNET inside Visual Studio 2008.</ProgressText>

            <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="ResetVS2005">
                <![CDATA[VS2005DEVENV And &Core2005IntegrationFeature=3 And Not Installed]]>
            </Publish>
            <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="ResetVS2008">
                <![CDATA[VS90DEVENV And &Core2008IntegrationFeature=3 And Not Installed]]>
            </Publish>
        </UI>

        <!-- define common UI forms -->
        <UIRef Id="WixUI_FeatureTree" />
        <UIRef Id="WixUI_ErrorProgressText" />

        <!-- specify the license agreement text to be shown in the UI. -->
        <WixVariable Id="WixUILicenseRtf" Value="Resources\License.rtf" />

        <!-- wizard cliparts -->
        <WixVariable Id="WixUIBannerBmp" Value="Resources\Banner.bmp"/>
        <WixVariable Id="WixUIDialogBmp" Value="Resources\Dialog.bmp"/>

    </Product>
</Wix>
